@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html{
  scroll-behavior: smooth;
}
:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
/* social icons */
.social-icon{
  padding: 3rem;
  display: flex; /* Use flexbox to arrange items in a row */
  gap: 15px; /* Adjust spacing between icons */
  justify-content: center; /* Centers the row within the container */
}
.fa-brands {
  padding: 20px;
  text-align: center;
  border-radius: 50%; /* Adjust to 50% for a perfect circle */
  font-size: 30px;
  width: 50px;
  height: 50px; /* Add height to make it a square */
  display: flex; /* Use flexbox to center the icon */
  gap: 15px;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #000000;
  color: white;
}

.fa-github {
  background: #4e4c4c;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #433cff;
  color: white;
}

.fa-instagram {
  background: #ff00e1;
  color: white;
}

.fa:hover {
    opacity: 0.9;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}


/* adding container after the section for other nav headings from here */


/* Existing styles */

.section {
  display: none; /* Hide all sections initially */
  background-color: var(--extra-light);
  padding: 2rem 0;
}

.active-section {
  display: block; /* Show only the active section */
}

.section__container {
 
  max-width: var(--max-width);
  margin: auto;
  padding-top: 4rem;
  
}

.section__container h2 {
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__container p {
  line-height: 1.5rem;
  color: var(--text-light);
}

/* PROJECTS SECTION */


#portfolio{
  text-align: center;
  padding: 2rem 0;
}
.sec__container 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 4rem;
}
.sec__container h2 {
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.about-containers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #333;
  text-align: center;
}
.details-container {
  border: 1px solid rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 1rem;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.article-container img{
  width: 100%;
}
.portfolio-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.portfolio-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

.project-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid rgb(223, 171, 239);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-btn:hover {
   background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  color: #fff;
}
/* skills section  */
/* begin of skills section */

.skill-container{
  color: #fff;
  display: block;
 }

.skill{
  align-items: center;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border: 0.125rem solid #fff; 
  border-radius: 1rem;
  display: inline-flex;
  height: 3rem;
  justify-content: flex-start;
  padding: 0.5rem 1.25rem;
  width: 17.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  padding: 0.25rem 1.25rem;
  transition: all .1s ease-out;

} 
a{
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

/* resume section  */
.resume_c{
  font-family: 'Arial', sans-serif;
  color: #000;
  margin: 0;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.cv-container {

  padding: 2rem;
  border: 1px solid #000;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: fadeIn 2s ease-in-out;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

header p {
  margin: 0.5rem 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  animation: slideInLeft 1s ease-in-out;
}

ul {
  list-style:none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

.experience-item {
  margin-bottom: 1.5rem;
  animation: slideInRight 1s ease-in-out;
}

/* abput section  */
.abt{
  padding: 4rem 3rem 1rem;
  text-align: center;
}
.abt h2{
  font-size: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
/**
 * Education and Experience Timeline
 */

 .timeline {
  margin-bottom: 30px;
}
.timeline  h2{
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title-wrapper {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}


.timeline-list {
  position: relative;
  list-style-type: none; /* Remove numeric points */
  padding-left: 60px; /* Adjust space for the line and bullets */
  font-size: 16px;
}

.timeline-item {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid rgba(205,205,250,1);
  margin-bottom: 20px;
  width: 80%;
}

.timeline-item-title {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: bold;
}

.timeline-list span {
  color: #a9a9a9;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: -30px;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% + 40px); /* Adjust height to extend beyond the box */
  background: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 50%; /* Center the bullet vertically */
  left: -38px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  background: lavender;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.timeline-text {
  color: #555;
  font-weight: 300;
  line-height: 1.6;
}

 
 /**
  * skills 
  */
 
 .skills-title { margin-bottom: 20px; }
 
 .skills-list { padding: 20px; }
 
 
 .skills-item:not(:last-child) { margin-bottom: 15px; }
 
 .skill .title-wrapper {
   display: flex;
   align-items: center;
   gap: 5px;
   margin-bottom: 8px;
 }
 
 .skill .title-wrapper data {
   color: var(--light-gray);
   font-size: var(--fs-7);
   font-weight: var(--fw-300);
 }
 
 .skill-progress-bg {
   background: var(--jet);
   width: 100%;
   height: 8px;
   border-radius: 10px;
 }
 
 .skill-progress-fill {
   background: var(--text-gradient-yellow);
   height: 100%;
   border-radius: inherit;
 }
 
/* services part */
#services {
  margin-bottom: 50px;
  padding: 4rem 1rem 0rem 1rem;
  text-align: center;
}

.service-block {
  display: inline-block;
  width: 23%;
  margin: 1%;
  padding: 20px;
  text-align: center;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid rgb(173, 173, 247);
  border-radius: 8px;
  position: relative;
}
#services h2{
  font-size: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.abt p{
  text-align: left;
}
.abt li{
  text-align: left;
}
.service-icon {
  font-size: 40px;
}

.dashed-line {
  border-top: 2px dashed rgb(175, 175, 175);
  margin: 3rem 2rem;
}

.BOLD{
  font-size: medium;
  font-weight: 300;
  font-style: italic;
}
/* contact form */
#contact {
  padding: 4rem 1rem 0rem 1rem;

}
.s__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: var(--max-width);
  margin: auto;
  gap: 2px;
  padding: 4rem;
}
.left{
  background:#a855f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 4rem;
}
.heading {
  display: flex; /* Use flexbox to arrange items in a row */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Center the content horizontally */
  gap: 10px; /* Spacing between images and text */
  padding: 1rem; /* Optional padding for spacing */
}

.cnct_img {
  width: 50px; /* Set the image size */
  height: auto; /* Maintain aspect ratio */
}
.right {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 4rem;
}

.heading h2 {
  margin-bottom: 20px;
  font-size: 27px;
  color: #333;
  text-align: center;
}
.left p{
  padding: 3px;
  color: white;
  font-size: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.c-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.c-container input,
.c-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.c-container textarea {
  resize: vertical;
  height: 100px;
}

.c-container button {
  width: 100%;
  padding: 10px;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.c-container button:hover {
  background:#a855f7;
}

/* Media queries for responsiveness */
@media (max-width: 750px) {
  .section__container {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
  .cnct_img {
    display: none; /* Hide images on smaller screens */
  }
  .c-container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .c-container button {
    font-size: 14px;
  }
}





@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
/* Media queries for responsiveness */
@media (max-width: 750px) {
  .social-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
}
  .section__container {
    text-align: center;
  }
  .c-container {
    padding: 15px;
}

h2 {
    font-size: 20px;
}

.c-container button {
    font-size: 14px;
}
}